* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body 
/*Apply background colour to body*/
{
    background-color: #d9dcd6;
}

header {
/*Apply header styling*/    
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header h1 {
/* H1 header element */
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    display: inline-block;
    font-size: 48px;
}

header .seo {
/* different text colour within header h1 logo */
    color: #d9dcd6;
}

header nav {
/*Nav bar within header*/  
    padding-top: 21px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
/* Removing list style from nav bar */
    list-style-type: none;
}

header nav ul li {
/* nav bar options styling */
    display: inline-block;
    margin-left: 25px;
}

a {
/*Making all anchors white*/  
    color: #ffffff;
    text-decoration: none;
}

.hero {
    /*Hero image*/  
        height: 800px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../images/digital-marketing-meeting.jpg");
        background-size: cover;
        background-position: center;
    }

p {
/*All paragrpah font size*/  
    font-size: 16px;
}

.float-left {
/*gerenic float-left for elements*/  
    float: left;
    margin-right: 25px;
}

.float-right {
/*gerenic float right for elements*/ 
    float: right;
    margin-left: 25px;
}

.content {
/*Main section container*/ 
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.contentBlock {
/*container within .content*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.contentBlock img {
/*All img elements within .contentBlock*/
    max-height: 200px;
   }

.contentBlock h2 {
/*Headgins within .contentBlock*/
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
/*ride side container*/ 
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefitBlock {
/*Container within side container*/ 
    margin-bottom: 32px;
    color: #ffffff;
}

.benefitBlock h3 {
/*.benfitsBlock headings*/ 
    margin-bottom: 10px;
    text-align: center;
}

.benefitBlock img {
/*.benfitsBlock images*/ 
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
/*footer styling*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
/*footer headings*/
    font-size: 20px;
}
